RewriteEngine on

DirectoryIndex home.html
DirectorySlash on

RewriteOptions inherit
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^/?$ "https\:\/\/rockypeakent\.com\/home" [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([/.]+)? $1.html [NC,L]
